/*  -----CSS for Header Component----- */


#header .mainbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100000;
  width: 100%;
  background-color: #ffffff;
}

#header .logo {
  position: absolute;
  padding: 8px;
}

#header .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

#header .heading-text {
  line-height: 24px;
  height: 30px;
  margin: 0px;
  font-family: 'Times New Roman', serif;
  font-weight: 600;
  font-size: 24px;
}

#header .user-details {
  position: absolute;
  right: 0;
  text-align: right;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#header .username {
  text-align: center;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fe7e25;
}

#header .username:hover {
  cursor: pointer;
}

#header .profileName {
  font-size: 20px;
  font-weight: 500;
}

#header .dropdown-list {
  z-index: 100000;
  margin-top: 2px;
  list-style: none;
  padding: 0;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 5px gray;
}

#header .list-items {
  padding: 5px;
  border: none;
}

#header .list-items:hover {
  border: 1px solid black;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}

#header .filler-top {
  padding: 30px;
}

#header .custom-dropdown {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
  inset: 0px auto auto 0px;
  transform: translate(-110px, 54px);
}

#header .customSpan {
  display: flex;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

#header .default-cursor {
  cursor: default;
}

#header .customSpan:hover {
  background: #d4d4d4;
}

/*  -----CSS for Header Component----- */


#navbar .mainbar {
  position: fixed;
  width: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  background-color: #fe7e25;
  z-index: 10000;
}

#navbar .tabs {
  margin: 0;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

#navbar .selected-tab {
  margin: 0;
  padding: 11px 20px 9px;
  background-color: #e66911;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 450;
}

#navbar .filler-top {
  padding: 20px;
}



/*  -----CSS for Transcripts Table Component----- */


#transcripts-table {
  padding: 0 5%;
}

#transcripts-table .actionbar {
  padding: 10px 0 20px;
  display: flex;
}

#transcripts-table .search-bar {
  float: left;
  margin-right: auto;
}

#transcripts-table .searchallbox {
  padding: 8px 10px;
  width: 400px;
  outline: none;
  border: solid 1px #e9e9e9;
  box-shadow: 0 0 3px #d4d4d4;
}

#transcripts-table .searchallbox:hover {
  border: solid 1px #cacaca;
}

#transcripts-table .searchallbox:focus {
  border: solid 1px #84848c;
}

#transcripts-table .buttons-right {
  float: right;
  display: flex;
  margin-left: auto;
}

#transcripts-table .action-btns {
  display: inline-block;
}

#transcripts-table .pseudo {
  display: flex;
}

#transcripts-table .refresh {
  box-sizing: border-box;
  display: inline-block;
  margin: 0 5px 0 0;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 2px #84848c;
  border: none;
  outline: none;
  cursor: pointer;
}

#transcripts-table .refresh:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px #acacac;
}

#transcripts-table .refresh p {
  margin: 0;
  padding: 0 6px;
  font-size: 22px;
}

.primary-btn {
  display: inline-block;
  padding: 6.5px 16px;
  margin-right: 5px;
  margin-left: 5px;
  width: 90px;
  background-color: #84848c;
  color: #ffffff;
  box-shadow: 0 0 2px #84848c;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom-action-button {
  width: auto;
}

#transcripts-table .jobs-btn {
  display: inline-block;
  padding: 6.5px 16px;
  margin-right: 5px;
  margin-left: 5px;
  width: 90px;
  background-color: #84848c;
  color: #ffffff;
  box-shadow: 0 0 2px #84848c;
  border: none;
  outline: none;
  cursor: pointer;
}
#transcripts-table .jobs-btn-anomalies {
  display: inline-block;
  padding: 6.5px 8px;
  margin-right: 5px;
  margin-left: 5px;
  width: 130px;
  background-color: #84848c;
  color: #ffffff;
  box-shadow: 0 0 2px #84848c;
  border: none;
  outline: none;
  cursor: pointer;
}
#transcripts-table .jobs-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #bdbdbd;
}

#transcripts-table .upload-btn {
  display: inline-block;
  padding: 9.5px 16px;
  margin-right: 5px;
  margin-left: 5px;
  width: 90px;
  background-color: #84848c;
  color: #ffffff;
  box-shadow: 0 0 2px #84848c;
  border: none;
  outline: none;
  cursor: pointer;
}

#transcripts-table .upload-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #bdbdbd;
}

#transcripts-table .dropdown-menu {
  display: inline-block;
  padding: 9.5px 16px;
  margin-left: 5px;
  width: 100px;
  background-color: rgb(248, 248, 248);
  color: black;
  box-shadow: 0 0 2px #383838;
  border:none;
  outline: none;
  cursor: pointer;
}

#transcripts-table .dropdown-menu:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #bdbdbd;
}

#transcripts-table .dropdown-menu:disabled {
  background-color: rgb(248, 248, 248);
  color: rgb(168, 168, 168);
  transform: scale(1);
  box-shadow: 0 0 1px black;
  border: none;
  cursor: auto;
}

#transcripts-table .dropdown-list {
  position: absolute;
  z-index: 100000;
  margin-top: 2px;
  width: 110px;
  list-style: none;
  padding: 0;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 5px gray;
}

#transcripts-table .list-items {
  padding: 5px;
  border: none;
}

#transcripts-table .list-items:hover {
  border: 1px solid black;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}

#transcripts-table table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgb(173, 173, 173) 0 0 5px;
}

#transcripts-table .checkcol {
  text-align: center;
}

#transcripts-table table, #transcripts-table th, #transcripts-table td {
  padding: 5px;
  border: none;
  text-align: left;
}

#transcripts-table th {
  padding: 15px 5px;
  background-color: #fe7e25;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

#transcripts-table tr:hover {
  background-color: #e7e7e7;
}

#transcripts-table td {
  line-height: 22px;
  font-size: 14px;
}

#transcripts-table .table-row-status {
  width: 100%;
  font-style: italic;
  padding: 10px;
  text-align: center;
}

#transcripts-table .table-row-status:hover {
  background-color: #ffffff;
}

#transcripts-table .loader-text {
  display: block;
  margin: 0;
  padding: 0 0 10px;
  color: rgb(0, 0, 0, 0.6);
}

#transcripts-table .pagination {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

#transcripts-table .page-nav {
  margin-right: 3%;
}

#transcripts-table .pagesize {
  margin-left: 3%;
}


/*  -----CSS for Upload-Box Component----- */


#upload-box {
  width: 100%;
  height: 100%;
}

#upload-box .borderbox {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.5px;
  border: rgb(180, 180, 180) dashed 2px;
}

#upload-box .uploadcontainer {
  display: grid;
  width: 100%;
  margin: 0;
  padding: 15px;
  border: rgb(136, 136, 136) solid 1px;
  background-color: rgb(245, 245, 245);
  text-align: center;
  align-items: center;
}

#upload-box .orline {
  display: flex;
  flex-direction: row;
  vertical-align: text-top;
  font-size: 14px;
  font-weight: 500;
  color: rgb(46, 46, 46);
}

#upload-box .orline:before,
#upload-box .orline:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid rgb(173, 173, 173);
  margin: auto;
}

#upload-box .choosebtn {
  padding: 3px 8px;
  outline: none;
  display: none;
}

#upload-box .choosebtn-label {
  padding: 5px 8px;
  outline: none;
  background-color: #d3d3d3;
}

#upload-box .choosebtn-label:hover {
  cursor: pointer;
}

#upload-box .selected-files {
  display: block;
  margin: 20px 0 10px;
  padding: 0 15%;
  max-height: 80px;
  overflow-y: scroll;
}

#upload-box .selected-files-names {
  margin: 0;
  padding: 2px 10px 0;
  text-align: left;
  font-style: italic;
  font-size: 14px;
}

#upload-box .uploadbtndiv {
  padding: 10px 10px 0 ;
}

#upload-box .uploadbtn {
  padding: 3px 8px;
}

#upload-box .uploadbtn-loading {
  padding: 5px 15px 2px;
}



/*  -----CSS for Jobs-Box Component----- */



#jobs-box {
  background-color: white;
  padding: 0 5%;
  box-shadow: 0 0 20px #000000;
  border-radius: 5px;
}

#jobs-box .jobs-heading {
  margin: 0;
  padding: 15px 0;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

#jobs-box .actionbar {
  padding: 10px 0 20px;
  display: flex;
}

#jobs-box .search-bar {
  float: left;
  margin-right: auto;
}

#jobs-box .searchallbox {
  padding: 8px 10px;
  width: 250px;
  outline: none;
  border: solid 1px #e9e9e9;
  box-shadow: 0 0 3px #d4d4d4;
}

#jobs-box .searchallbox:hover {
  border: solid 1px #cacaca;
}

#jobs-box .searchallbox:focus {
  border: solid 1px #84848c;
}

#jobs-box .dropdown-menu {
  display: inline-block;
  padding: 9.5px 16px;
  margin-left: 5px;
  width: 100px;
  background-color: rgb(248, 248, 248);
  color: black;
  box-shadow: 0 0 2px #383838;
  border:none;
  outline: none;
  cursor: pointer;
}

#jobs-box .dropdown-menu:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #bdbdbd;
}

#jobs-box .dropdown-menu:disabled {
  background-color: rgb(248, 248, 248);
  color: rgb(168, 168, 168);
  transform: scale(1);
  box-shadow: 0 0 1px black;
  border: none;
  cursor: auto;
}

#jobs-box .dropdown-list {
  position: absolute;
  z-index: 100000;
  margin-top: 2px;
  width: 110px;
  list-style: none;
  padding: 0;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 5px gray;
}

#jobs-box .list-items {
  padding: 5px;
  border: none;
}

#jobs-box .list-items:hover {
  border: 1px solid black;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}

#jobs-box table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgb(173, 173, 173) 0 0 5px;
}

#jobs-box table, #jobs-box th, #jobs-box td {
  padding: 5px 15px;
  border: none;
  text-align: left;
}

#jobs-box th {
  padding: 12px 15px;
  background-color: #fe7e25;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

#jobs-box tr:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

#jobs-box td {
  line-height: 22px;
  font-size: 14px;
  font-style: italic;
}

#jobs-box .pagination {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

#jobs-box .page-nav {
  margin-right: 3%;
}

#jobs-box .pagesize {
  margin-left: 3%;
}

#jobs-box .selected-transcripts {
  display: block;
  padding: 10px 0 25px;
}

#jobs-box .selected-transcripts h3 {
  margin: 0;
  padding: 10px 0;
}

#jobs-box .tlist {
  display: block;
  max-height: 180px;
  overflow-y: scroll;
}

#jobs-box .tnames {
  margin: 0;
  padding: 2px 10px 0;
  font-style: italic;
  font-size: 14px;
}



/*  -----CSS for Create Group Box Component----- */



#create-group-box .container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 5px;
}

#create-group-box .heading {
  padding: 20px;
}

#create-group-box .heading h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

#create-group-box .form {
  display: flex;
  margin: 20px;
  justify-content: center;
}

#create-group-box .label {
  margin: 0 5px;
  font-size: 16px;
  line-height: 32px;
  font-style: italic;
}

#create-group-box .input {
  margin: 0 5px;
  font-size: 16px;
  height: 26px;
  width: 30%;
  max-width: 250px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

#create-group-box .create-btn {
  padding: 1px 8px;
  margin: 0 0 0 8px;
  width: 10%;
  max-width: 120px;
  background-color: #84848c;
  color: #ffffff;
  box-shadow: 0 0 2px #84848c;
  border: none;
  outline: none;
  cursor: pointer;
}

#create-group-box .create-btn-loading {
  padding: 1px 8px;
  margin: 0 0 0 8px;
  width: 10%;
  max-width: 120px;
  background-color: #84848c;
  color: #ffffff;
  box-shadow: 0 0 2px #84848c;
  border: none;
  outline: none;
  cursor: pointer;
}

#create-group-box .create-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #bdbdbd;
}

#create-group-box .selected-transcripts {
  display: block;
  padding: 10px 10px 25px;
}

#create-group-box .selected-transcripts h3 {
  margin: 0;
  padding: 10px;
}

#create-group-box .tlist {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
}

#create-group-box .tnames {
  margin: 0;
  padding: 2px 0 0 25px;
  font-style: italic;
  font-size: 14px;
}

#deponent-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 5px;
}

#deponent-container .heading {
  padding: 20px;
}

#deponent-container .heading h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

#deponent-container .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px 10px;
  row-gap: 1rem;
}

.form-container .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.input-container .input-item .label {
  margin: 0 5px;
  font-size: 16px;
  line-height: 32px;
  font-style: italic;
}

.input-container .input-item .custom-input {
  margin: 0 5px;
  font-size: 16px;
  height: 26px;
  max-width: 250px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

#deponent-container .update-deponent-btn {
  padding: 8px;
  max-width: 120px;
  background-color: #84848c;
  color: #ffffff;
  box-shadow: 0 0 2px #84848c;
  border: none;
  outline: none;
  cursor: pointer;
}

#deponent-container .update-deponent-btn-loading {
  padding: 8px;
  max-width: 120px;
  background-color: #84848c;
  color: #ffffff;
  box-shadow: 0 0 2px #84848c;
  border: none;
  outline: none;
  cursor: pointer;
}

#deponent-container .update-deponent-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #bdbdbd;
}

@media only screen and (max-width: 1500px){
  .form-container .input-container {
    flex-direction: column;
  }
}

/*  -----CSS for Analyse Component----- */


#analysealltable {
  padding: 0 5%;
}

#analysealltable .action-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 0 20px 0;
}

#analysealltable .actions-left {
  float: left;
  display: flex;
  align-items: center;
  width: 40%;
}

#analysealltable .refresh {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 8px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 2px #84848c;
  border: none;
  outline: none;
  cursor: pointer;
}

#analysealltable .refresh:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px #acacac;
}

#analysealltable .searchbars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: right;
  width: 60%;
}

#analysealltable .keyword-search-bar {
  margin: 0 5px;
  width: 100%;
  max-width: 400px;
}

#analysealltable .searchallbox {
  box-sizing: border-box;
  padding: 8px 10px;
  width: 100%;
  outline: none;
  border: solid 1px #e9e9e9;
  box-shadow: 0 0 3px #d4d4d4;
}

#analysealltable .searchallbox:hover {
  border: solid 1px #cacaca;
}

#analysealltable .searchallbox:focus {
  border: solid 1px #84848c;
}

#analysealltable .search-btn {
  padding: 9.5px 8px;
  margin: 0 0 0 8px;
  width: 15%;
  max-width: 120px;
  background-color: #84848c;
  color: #ffffff;
  box-shadow: 0 0 2px #84848c;
  border: none;
  outline: none;
  cursor: pointer;
}

#analysealltable .search-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #bdbdbd;
}

#analysealltable table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgb(173, 173, 173) 0 0 5px;
}

#analysealltable table, #analysealltable th, #analysealltable td {
  padding: 5px;
  border: none;
  text-align: left;
}

#analysealltable th {
  padding: 15px 12px;
  background-color: #fe7e25;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

#analysealltable th:nth-child(1) {
  width: 74%;
}

#analysealltable th:nth-child(2) {
  width: 6%;
}

#analysealltable th:nth-child(3) {
  width: 6%;
}

#analysealltable th:nth-child(4) {
  width: 8%;
}

#analysealltable th:nth-child(5) {
  width: 10%;
}

#analysealltable td {
  padding: 12px;
  line-height: 22px;
  font-size: 14px;
}

#analysealltable .table-row-status {
  width: 100%;
  font-style: italic;
  padding: 10px;
  text-align: center;
}

#analysealltable .table-row-status:hover {
  background-color: #ffffff;
}

#analysealltable .loader-text {
  display: block;
  margin: 0;
  padding: 0 0 10px;
  color: rgb(0, 0, 0, 0.6);
}

#analysealltable .rowdata {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#analysealltable .main-row {
  font-size: 14px;
}

#analysealltable .main-row:hover {
  cursor: pointer;
}

#analysealltable .hidden-row {
  display: none;
  padding-top: 10px;
  color: blue;
}

#analysealltable tr:hover {
  background-color: #e7e7e7;
}

#analysealltable tr:hover .rowdata {
  white-space: normal;
}

#analysealltable tr:hover .hidden-row {
  display: block;
}

#analysealltable .pagination {
  display: flex;
  padding: 20px 0;
  justify-content: center;
}

#analysealltable .page-nav {
  margin-right: 3%;
}

#analysealltable .pagesize {
  margin-left: 3%;
}


/*  -----CSS for Filter-Seacrh Component----- */


#filter-search .searchbar {
  padding: 0 0 10px 5%;
  text-align: right;
}

#filter-search .searchbox {
  width: 40%;
  padding: 8px 10px;
  outline: none;
}


/*  -----CSS for BubbleView Component----- */


#bubble-view .mainbox {
  width: 100%;
}

#bubble-view .bubble-controls {
  display: flex;
  padding: 10px 6%;
  width: auto;
  height: 28px;
  align-items: center;
}

#bubble-view .parent-topic-btn {
  float: left;
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 2px #84848c;
  border: none;
  outline: none;
  cursor: pointer;
}

#bubble-view .selected-topic {
  float: right;
  margin-left: auto;
  /* padding: 0px 10px; */
}

#bubble-view .selected-subtopic {
  float: right;
  margin-left: 0;
  /* padding: 0px 10px; */
}

#bubble-view .parent-topic-btn:hover {
  transform: scale(1.05);
}

#bubble-view .loader {
  padding: 2% 0 4%;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bubble-view .loader-desc {
  display: inline-block;
  line-height: 100px;
  color: rgba(0, 0, 0, 0.6);
}

#bubble-view .bubble-window {
  position: relative;
  padding: 2% 15% 4%;
}

#bubble-view .padding-box {
  position: relative;
  height: 310px;
}

#bubble-view .bubbles {
  position: absolute;
  outline: none;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
}

#bubble-view .button-text {
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

#bubble-view .bubbles:hover {
  cursor: pointer;
  font-weight: 550;
  color: rgb(0, 0, 0);
  transform: scale(1.25);
  z-index: 5000;
  opacity: 1;
}

#bubble-view .bubbles:hover .button-text {
  overflow: visible;
}

.hidden_table{
  /* display: none; */
}
.jobstable .loader {
  text-align: center;
  margin-bottom: 10px; 
}
.jobstable .loader-text {
  display: block;
  margin: 0;
  padding: 0 0 10px;
  color: rgb(0, 0, 0, 0.6);
}