#forgot-password-container {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5% 0px;
}

#forgot-password-container .container {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 380px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px 3px rgb(173, 173, 173);
}

#forgot-password-container .footer {
    padding-top: 7px;
    padding-bottom: 50px;
    text-align: center;
}

#forgot-password-container .footer #text {
    color: rgb(146, 146, 146);
    font-size: 13px;
}

#forgot-password-container .footer #link {
    color: rgb(0, 202, 118);
    text-decoration: none;
    font-size: 13px;
}

#forgot-password-section .header {
    background-color: #fe7e25;
    text-align: center;
    padding: 4px;
}

#forgot-password-section > .header > #text {
    color: white;
    font-size: 24px;
    font-weight: 300;
}

#forgot-password-section .content-heading {
    padding: 4% 15%;    
}

#forgot-password-section .content-heading #text {
    font-size: 23px;
    font-weight: 400;
}

#forgot-password-section .form {
    padding-left: 15%;
    padding-right: 15%;
}
 
#forgot-password-section .formitems {
    padding-bottom: 10px;
}
  
#forgot-password-section .fieldlabels {
    display: block;
    padding-bottom: 5px;
    color: rgb(0, 132, 209);
    font-size: 13.5px;
    font-weight: 400;
    font-style: oblique;
    opacity: 0.9;
}

#forgot-password-section .inputfield {
    display: block;
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    outline: none;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-size: 14px;
}

#forgot-password-section .inputfield:focus {
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: 1.5px solid rgb(0, 162, 255);
    border-radius: 4px;
}

#forgot-password-section ::placeholder {
    opacity: 0.7;
    font-style: italic;
}

#forgot-password-section .formitems-button {
    padding-top: 20px;
    padding-bottom: 8px;
}

#forgot-password-section .button {
    display: block;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    background-color: #fe7e25;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 10px 20px;
}

#forgot-password-section .button:hover {
    cursor: pointer;
}

#forgot-password-section .button:active {
    background-color: #ff6f08;
    border: none;
    outline: none;
}

#forgot-password-section .button #text {
    font-size: 15px;
    font-weight: 100;
}